PROJECT_ID=arboreal-totem-495915-v1
REGION=europe-west4
RAW_BUCKET=arboreal-totem-495915-v1-rent-mlops-raw-data
PROCESSED_BUCKET=arboreal-totem-495915-v1-rent-mlops-processed-data
MODEL_BUCKET=arboreal-totem-495915-v1-rent-mlops-model-artifacts
DATA_FILE=apartments_rent_pl_2024_04-2024_06.csv
